<h1>ユーザ検索</h1>  

<%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %> 
  <%= f.label :profile, 'ユーザ検索' %>
  <%= f.text_field :profile %>
  <%= f.submit('検索') %>
<% end %>

<% if @users %>  
  <ul class="media-list">  
    <% @users.each do |user| %>  
      <li class="media">  
        <div class="media-left">  
          <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">  
        </div>  
        <div class="media-body">  
          <div>  
            <%= link_to user.name, user_path(user) %>  
          </div>  
          <div>  
             <p><%= user.profile %><br></p>  
          </div>  
        </div>  
      </li>  
    <% end %>  
  </ul>  
  <%= paginate @users %>  
<% end %>  