<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.profile %></p>
        <a href="#" class="btn btn-primary">プロフィール編集</a>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">勉強報告<span class="badge badge-secondary"></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
    </ul>
    <%= render 'reports/reports', reports: @reports %>
  </div>
</div>
