<ul class="list-unstyled">
  <% reports.each do |report| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(report.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to report.user.name, user_path(report.user) %> <span class="text-muted">posted at <%= report.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= report.content %></p>
        </div>
        <div>
          <% if current_user == report.user %>
            <%= link_to "Delete", report, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate reports %>
</ul>